<html>
  <head>
    <title>Зачет!!!</title>
    <style>
      @font-face {
	  font-family: "EvilTitcher";
	  src: url('/static/2.ttf');
	  font-style: normal;
      }
      /* * { */
      /* 	  font-family: "EvilTitcher"; */
      /* 	  font-size: 10pt; */
      /* } */
    </style>
    <script>
      function timer(){
	  var sec = 30;
	  var timer = setInterval(function(){
              document.getElementById('safeTimerDisplay').innerHTML='00:'+sec;
              sec--;
              if (sec < 0) {
		  window.location.replace("/answer/{{ quest.id }}");
              }
	  }, 1000);
      }
    </script>
  </head>
  <body onload='timer();'>
    {% if quest %}
    <form action="/answer/{{ quest.id }}" method='post'>
      <div class='question'>{{ quest.text }}</div>
	  {% for ans in answers %}
      <div class='answer'>
		<input name='answer' type='radio' value='{{ans.code}}'>{{ans.text}}</input>
      </div>
	  {% endfor %}
      <input type='submit' value='Ответ'>
    </form>
    {% endif %}
    <p id="safeTimerDisplay">00:30</p>
  </body>
</html>
