<html>
    <head>
    <title>Зачет!!!</title>
    <style>
      {% if font %}
      @font-face {
	  font-family: "EvilTitcher";	  
	  src: url('/static/{{font}}.ttf');
	  font-style: normal;
      }
      * {
	  font-family: "EvilTitcher";
	  font-size: 10pt;
      }	  

      {% else %}	  
      @font-face {
	  font-family: "EvilTitcher";
	  
	  src: url('/static/cour.ttf');
	  font-style: normal;
      }
      * {
      	  font-family: "EvilTitcher";
      	  font-size: 10pt;
      }
      {% endif %}      
    </style>
    <body>
      {% if quest %}
      <form action="/answer/{{ quest.id }}" method='post'>
	<div class='question'>{{ quest.text }}</div>
	{% if answers %}
	{% for ans in answers %}
	<div class='answer'>
	  <input name='answer' type='radio' value='{{ans.code}}'>{{ans.text}}</input>
	</div>
	{% endfor %}
	{% endif %}
	<input type='submit' value='Ответ'>
      </form>
      {% endif %}
    </body>
</html>
